<div class="col md-6 ">
    <div class="card">
        <div class="card-header">
            <h1>Venta de autos</h1>
        </div>
        <div class="card-body">

            <ul class="list-group">
              <li class="list-group-item ">
                <div class="d-grid gap-2">
                  <a href="/sells" class="btn btn-outline-primary " type="button">Ventas de autos</a>
                </div>
              </li>
              <li class="list-group-item ">
                <div class="d-grid gap-2">
                  <a href="/cars" class="btn btn-outline-primary" href="/cars" type="button">Autos en stock</a>
                </div>
              </li>
              <li class="list-group-item ">
                <div class="d-grid gap-2">
                  <a href="/users" class="btn btn-outline-primary " type="button">Información de clientes</a>
                </div>
              </li>
              <li class="list-group-item ">
                <div class="d-grid gap-2">
                  <a href="/stores" class="btn btn-outline-primary " type="button">Información de sucursales</a>
                </div>
              </li>
            </ul>
        </div>
      <div class="card-footer">
 
      </div>
        
    </div>
</div>