<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Venta de autos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sells">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cars">Autos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stores">Sucursales</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="view">
      <header class="header">
      <h1>
        <img src="../public/images/logo.png" alt="ESCOM" height="300">
      </h1>
    </header>

    <section class="content who">
      <h2 class="title text-light">Quienes Somos</h2>
      <p>Somos una consultora de Software especialista en realizar plataformas para la venta de vehiculos.</p>
      <p>Nuestro proposito es realizar Software de calidad para administrar concesionarias de automoviles estando a la vanguardia de las nuevas tecnologías que nos permitan trabajar de forma efiiciente, escalable y sobre todo eficaz, brindando el mejor soporte y apoypo a nuestros clientes.</p>
    </section>

    <section class="content services">
      <h2 class="title text-light">Servicios</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis obcaecati dolores, vel iusto perspiciatis voluptates quasi quam mollitia reiciendis porro.</p>
      <ul class="list-services">
        <li>
          <figure>
            <img src="../public/images/ico1" width="110" alt="Node" >
            <figcaption>Node.js</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="../public/images/ico2.webp" width="110" alt="Express">
            <figcaption>Express.js</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="../public/images/ico3" width="110" alt="firebase">
            <figcaption>Firebase</figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <section class="content tarifas">
      <article class="contain">
        <h2 class="title text-light">Tarifas</h2>
        <p>Somos una consultora de Software especialista en realizar plataformas para la venta de vehiculos</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a href="https://wa.me/5215559916989" class="btn">Se limpian pitos a domicilio (Con la lengua)</a>
      </article>
    </section>

    <section class="content localization">
      <h2 class="title text-light">Localización</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas molestias quibusdam cum corrupti deserunt, explicabo ipsam id, itaque iste!</p>
      <figure class="map">
        <img src="../public/images/dummy-mapa.jfif" alt="">
      </figure>
    </section>

</div>

