<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Venta de autos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sells">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cars">Autos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stores">Sucursales</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

    <!-- Example Code -->
    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          
          <img src="../public/bmw.jpg" class="d-block h-60 w-100" alt="...">
        </div>
        <div class="carousel-item">
         
          <img src="../public/mercedes.jpg" class="d-block h-60 w-100" alt="...">
        </div>
        <div class="carousel-item">
          
          <img src="../public/mustang.webp" class="d-block h-60 w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  </div>
    <!-- End Example Code -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>