<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Proyecto GGG</title>
    {{! BOOTSTRAP CDN }}
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/zephyr/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../public/main.css" />

    <link rel="stylesheet" href="../../public/master.css">

  </head>

  <body>

        {{{body}}}

          <br>

  <footer class="bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-light text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-light" href="https://github.com/Jesus105/proyectoGGG">Equipo Triple G</a>
    </div>
    <!-- Copyright -->
    <div class="text-light text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Integrantes del equipo:
        <a class="text-light" href="https://github.com/Lomosaurio123">Mauricio Gael Hernández Lom</a> || 
        <a class="text-light" href="https://github.com/Jesus105">Jesús Méndez Chávez</a> || 
        <a class="text-light" href="https://github.com/JorgeOwl">Jorge Hernández Espinoza</a> || 
        <a class="text-light" href="https://github.com/jherrerag20">Mauricio Jared Herrera</a>

    </div>

  </footer>

  </body>

</html>